#newMeet-button{
    margin-top: 10px;
    background-color: yellow;
    color: black;
    border: 1px black;
    border-style: solid;
    border-radius: 25px;
}


#newMeet-close{
    float: right;
    display: inline;
    background-color: yellow;
    color: black;
    border: 1px black;
    border-style: solid;
    margin-top: 40px;
    border-radius: 25px;
}

#newMeet-h1{
    float: left;
    display: inline;
    color: black;
}

#newMeet-add-time-button{
    margin-top: 10px;
    background-color: lightgreen;
    color: black;
    border: 1px black;
    border-style: solid;
    border-radius: 25px;
}

#newMeet-remove-time-button{
    margin-top: 15px;
    background-color: lightcoral;
    color: black;
    border: 1px black;
    border-style: solid;
    border-radius: 25px;
    float:right;
    display: inline;
}

#nm-dt{
    float:left;
    display: inline;
}