#newMeet-button{
    margin-top: 10px;
    background-color: yellow;
    color: black;
    border: 1px black;
    border-style: solid;
    border-radius: 25px;
}

#newMeet-h1{
    color: black;
    float: left;
    display: inline;
}

#newMeet-close-popup{
    float: right;
    display: inline;
    margin-top: 10px;
    background-color: yellow;
    color: black;
    border: 1px black;
    border-style: solid;
    border-radius: 25px;
    margin-top: 25px;
}