#events-controls {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

#events-presets {
    display: flex;
}

.events-active-chip-button {
    background-color: #2B2B2B;
    border: 1px solid #2B2B2B;
    color: white;
}

.events-chip-button {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.events-chip-button,
.events-active-chip-button {
    padding: 17px 23px;
    border-radius: 32px;
    font-family: var(--helvetica);
    font-size: 14px;
    cursor: pointer;
    min-width: 120px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
}

#events-filter {
    background-color: #7f7f7f;
    color: white;
    padding: 16px 34px;
    border-radius: 6px;
    border: 1px solid #6b6b6b;
    cursor: pointer;
}

#events-filter > svg {
    margin-right: 12px;
}

#events-filter > span {
    font-family: var(--helvetica);
    font-size: 14px;
}

#events-list > * {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr;
}

#events-list-header {
    background-color: #F5F5F5;
    padding: 26px 41px;
    border: 1px solid #BFBFBF;
    border-radius: 8px 8px 0 0;
}

#events-list-header > span {
    font-family: var(--helvetica);
    font-size: 14px;
}

.events-list-item {
    padding: 54px 41px;
    border: 1px solid #BFBFBF;
    border-top: none;
}

.events-list-item:last-child {
    border-radius: 0 0 8px 8px;
}

.events-list-item:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

.events-list-item > span {
    font-family: var(--helvetica);
}

.events-list-item > span:first-child {
    font-family: var(--lora); 
    font-size: 18px;
    cursor: pointer;
}

.events-list-item > span:first-child:hover {
    color: #5A6AFF;
}

#events-none-found {
    border: 1px solid #BFBFBF;
    border-top: none; 
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-radius: 0 0 8px 8px;
    font-family: var(--helvetica);
    font-size: 14px;
}

#events-end-notice {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 32px;
    color: rgba(0, 0, 0, 0.4);
}