#meeting-vote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#meeting-vote-back {
    fill: #676767;
    color: #676767;
    cursor: pointer;
}

#meeting-vote-back > svg {
    margin-right: 8px;
}

#meeting-vote-header {
    width: 1000px;
    margin-top: 63px;
}

#meeting-vote-header > h1 {
    font-size: 40px;
    margin: 0 0 10px;
}

#meeting-vote-info {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

#meeting-vote-info > p {
    width: 440px;
    margin: 25px 0 0;
    font-size: 18px;
    line-height: 24px;;
}

#meeting-vote-participants {
    display: grid;
    grid-template-columns: 9fr 10fr;
    width: 460px;
    height: 200px;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
}

#meeting-vote-participants > div {
    padding: 32px 36px;
}

#meeting-vote-participants > div:first-child {
    border-right: 1px solid #BFBFBF;
}

#meeting-vote-participants > div > h3 {
    margin: 0 0 10px;
    font-size: 20px;
}

#meeting-vote-participants > div > ul {
    padding-left: 20px;
}

#meeting-vote-timeslots {
    background-color: #F5F5F5;
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

#meeting-vote-timeslots > div {
    width: 1000px;
    padding: 45px 0;
}

#meeting-vote-timeslots h2 {
    font-size: 20px;
    color: #484848;
    margin: 0 0 20px;
}

#meeting-vote-timeslots-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}

#meeting-vote-timeslots-options > div {
    background: white;
    border: 1px solid #BFBFBF;
    border-radius: 8px;
    padding: 30px;
    width: 420px;
    height: 170px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.meeting-vote-timeslot-info {
    display: flex;
    justify-content: space-between;
}

.meeting-vote-timeslot-info h3 {
    margin: 0 0 11px;
    font-size: 24px;
    font-family: var(--helvetica);
}

.meeting-vote-timeslot-info p {
    margin: 0;
}

.meeting-vote-vote-button {
    padding: 16px 62px;
    background-color: #262626;
    color: white;
    border-radius: 4px;
    width: fit-content;
    cursor: pointer;
}

#meeting-vote-end-message {
    margin: 40px 0;
    color: rgba(0, 0, 0, 0.4);
}